.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  color: white;
}

.not-found-container img {
  height: 400px;
  width: 400px;
}
